*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
body{
    flex-wrap: wrap;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-size: cover;
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** Box2 **/
.add-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;

}

.add-sec {
    font-size: 1rem;
    margin-left: 3px;

}

.add-icon {
    display: flex;
    align-items: center;
}

/** Box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px ;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #fedb68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
.nav-search:hover {
    border: 2px solid orange;
}

/** Box 4 **/
span {
    font-size: 0.7rem;

}
.nav-sec {
    font-size: 0.85rem;
    font-weight: 700;
}
/* Box5 **/
.nav-cart i {
    font-size: 35px;
    height: 30px;
}
.nav-cart:hover{
    font-size: 15px;
    height: 30px;
    color:#FDB515 ;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}
/** Panel **/
.panel {
    height: 40px;
    background-color: #222f3b;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 40px;
}
.panel-ops {
    width: 70%;
    font-size: 0.8rem;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}
/**Hero-section **/
.hero-section {
    background-image:url(hero_image.jpg) ;
    height: 380px;
    background-size: cover;display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-massage {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    
}
.hero-massage a {
    color: #007185;
}
/** Shop-section **/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#E0E1FF
}

.box {
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    border: none;
}
.box-img {
    height: 300px;
    background-size:cover;
    background-repeat: no-repeat;
    margin-top:1rem;
    margin-bottom: 1rem;
}
.box-content {
    margin-right:1rem ;
    margin-left: 1rem;
    border: none;
}
.box-content p {
    color:#007185 ;
}
.box2 {
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 4rem;
    width: 100%;
    height: 120px;
    font-size: small;
    background-color:#ffffff;
    color: black;
}
.box2 a {
    color: #007185;
}
.me :hover 
{
    border: 2px solid orange;
} 
.me {
    text-align: center;
    border-radius: 3px;
    margin-top: 0.40rem;
    margin-bottom: 0.40rem;
    height: 30px;
    width: 200px;
    background-color:#FDB515 ;
    border:3px solid orange;
}
/** Footer **/
footer {
    margin-top: 15px;
}
.foot-panel1 {
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2 {
    background-color:#222f3b;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 400px;
}
ul {
    margin-top: 20px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color:#222f3b;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    background-size: cover;
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 100px;
}
.pages {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.copyright {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}